menuconfig JTAG
	tristate "JTAG support"
	help
	  This provides basic core functionality support for JTAG class devices.
	  Hardware that is equipped with a JTAG microcontroller can be
	  supported by using this driver's interfaces.
	  This driver exposes a set of IOCTLs to the user space for
	  the following commands:
	    SDR: Performs an IEEE 1149.1 Data Register scan
	    SIR: Performs an IEEE 1149.1 Instruction Register scan.
	    RUNTEST: Forces the IEEE 1149.1 bus to a run state for a specified
	    number of clocks or a specified time period.

	  If you want this support, you should say Y here.

	  To compile this driver as a module, choose M here: the module will
	  be called jtag.

menuconfig JTAG_ASPEED
	tristate "Aspeed SoC JTAG controller support"
	depends on JTAG && HAS_IOMEM
	depends on ARCH_ASPEED || COMPILE_TEST
	help
	  This provides support for Aspeed JTAG devices equipped on Aspeed
	  SoC 24xx, 25xx and 26xx families. Driver allows programming of
	  hardware devices, connected to SoC through the JTAG interface.

	  If you want this support, you should say Y here.

	  To compile this driver as a module, choose M here: the module will
	  be called jtag-aspeed.

config USE_INTERRUPTS
	bool "Use interrupts as event wait mechanism"
	depends on JTAG_ASPEED
	default n
	help
	  Aspeed SoC 24xx, 25xx and 26xx driver monitors the JTAG shift
	  operation completion by either polling or waiting for an interrupt.

	  This flag is used by Aspeed driver to select from either interrupt or
	  polling as wait mechanism for JTAG controller completion events.

	  If you want interrupt support, you should say Y here.

	  If you want polling support, you should say N here.
