// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/i2c/i2c.h>

/ {
	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200n8 root=/dev/ram rw init=/linuxrc earlyprintk";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		video_engine_memory: jpegbuffer {
			size = <0x02000000>;	/* 32M */
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_memory: video {
			size = <0x04000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			no-map;
		};

		espi_mmbi_memory: espi_mmbi_memory {
			no-map;
			reg = <0x9EFF0000 0x10000>; /* 64K */
		};
	};

	vga-shared-memory {
		compatible = "aspeed,ast2500-vga-sharedmem";
		reg = <0x9f700000 0x100000>;
	};

	leds {
		compatible = "gpio-leds";

		identify {
			default-state = "off";
			gpios = <&gpio0 ASPEED_GPIO(B, 7) GPIO_ACTIVE_LOW>;
		};

		status_amber {
			default-state = "off";
			gpios = <&gpio0 ASPEED_GPIO(G, 3) GPIO_ACTIVE_LOW>;
		};

		status_green {
			default-state = "keep";
			gpios = <&gpio0 ASPEED_GPIO(G, 2) GPIO_ACTIVE_LOW>;
		};

		status_susack {
			default-state = "off";
			gpios = <&gpio0 ASPEED_GPIO(V, 6) GPIO_ACTIVE_LOW>;
		};

		fan1_fault {
			default-state = "off";
			gpios = <&sgpiom0 41 GPIO_ACTIVE_HIGH>;
		};

		fan2_fault {
			default-state = "off";
			gpios = <&sgpiom0 43 GPIO_ACTIVE_HIGH>;
		};

		fan3_fault {
			default-state = "off";
			gpios = <&sgpiom0 45 GPIO_ACTIVE_HIGH>;
		};

		fan4_fault {
			default-state = "off";
			gpios = <&sgpiom0 47 GPIO_ACTIVE_HIGH>;
		};

		fan5_fault {
			default-state = "off";
			gpios = <&sgpiom0 49 GPIO_ACTIVE_HIGH>;
		};

		fan6_fault {
			default-state = "off";
			gpios = <&sgpiom0 51 GPIO_ACTIVE_HIGH>;
		};

		fan7_fault {
			default-state = "off";
			gpios = <&sgpiom0 53 GPIO_ACTIVE_HIGH>;
		};

		fan8_fault {
			default-state = "off";
			gpios = <&sgpiom0 55 GPIO_ACTIVE_HIGH>;
		};
	};

	beeper {
		compatible = "pwm-beeper";
		pwms = <&pwm 7 1000000 0>;
	};

	smart {
		compatible = "intel,smart";
		status = "okay";
		smbalert-gpio = <&gpio0 ASPEED_GPIO(Y, 3) GPIO_ACTIVE_HIGH>;
	};

};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		spi-max-frequency = <40000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		m25p,fast-read;
#include "openbmc-flash-layout-intel-oks-128MB.dtsi"
	};
};

/* SPI1 controller - BIOS SPI flash */
&spi1 {
	status = "okay";
	flash@0 {
		status = "okay";
		/*
		 * TODO: using BHS limits for possible development on N-1
		 */
		spi-max-frequency = <25000000>; /* 25MHz */
		spi-rx-bus-width = <1>;
		spi-tx-bus-width = <1>;

		/*
		 * It makes an entry in sysfs which will later be
		 * changed to real spi-nor driver on need basis.
		 */
		compatible = "spidev";
	};
};

&espi {
	status = "okay";
};

&vwgpio {
	gpio-count = <32>;
	gpio-names-mask = <0x000001F1>;
	gpio-dir-mask = <0x00000FF0>;
	gpio-names = "VW_FM_BIOS_POST_CMPLT_N",
		"VW_FM_DUAL_PARTITION_N", "VW_FM_STANDALONE_MODE_N",
		"VW_FM_4S_8S_N_MODE", "VW_FM_NODE_ID_1", "VW_FM_NODE_ID_0";
	status = "okay";
};

&mmbi {
	status = "okay";

	host-map-addr = <0xF6810000>;
	memory-region = <&espi_mmbi_memory>;
};

&mctp {
	status = "okay";
};

&peci_legacy0 {
	status = "okay";
};

&syscon {
	status = "okay";

	mac1-clk-delay = <0x1f 0x10
			  0x10 0x10
			  0x10 0x10>;

	misc_control {
		compatible = "aspeed,bmc-misc";
		uart_port_debug {
			offset = <0xc8>;
			bit-mask = <0x1>;
			bit-shift = <1>;
			read-only;
		};

		uart1_port_debug {
			offset = <0xd8>;
			bit-mask = <0x1>;
			bit-shift = <3>;
			read-only;
		};

		p2a-bridge {
			offset = <0xC20>;
			bit-mask = <0x1>;
			bit-shift = <1>;
			read-only;
		};

		boot-2nd-flash {
			offset = <0x500>;
			bit-mask = <0x1>;
			bit-shift = <31>;
			read-only;
		};

		chip_id {
			offset = <0x5b0>;
			bit-mask = <0xffffffff 0xffffffff>;
			bit-shift = <0>;
			read-only;
			reg-width = <64>;
			hash-data = "d44f9b804976fa23c2e25d62f16154d26520a7e24c5555095fd1b55c027804f1570dcd16189739c640cd7d9a6ce14944a2c4eaf1dc429eed6940e8a83498a474";
		};

		silicon_id {
			offset = <0x14>;
			bit-mask = <0xffffffff>;
			bit-shift = <0>;
			read-only;
			reg-width = <32>;
		};
	};
};

#if 0
 GPIO Alias: (runtime alias -> schematic name)
	ID_BUTTON -> FP_ID_BTN_N
	CPU_CATERR -> FM_CPU_CATERR_N
	PCH_BMC_THERMTRIP -> FM_PLT_BMC_THERMTRIP_N
	RESET_BUTTON -> FP_BMC_RST_BTN_N
	RESET_OUT -> RST_BMC_RSTBTN_OUT_R_N
	POWER_BUTTON -> FP_PWR_BTN_N
	POWER_OUT -> FM_BMC_PWR_BTN_N
	PREQ_N -> DBP_ASD_BMC_PREQ_R_N
	POST_COMPLETE -> FM_BIOS_POST_CMPLT_BMC_N
	CPU_ERR0 -> FM_CPU0_ERR0_LVC3_N
	CPU_ERR1 -> FM_CPU0_ERR1_LVC3_N
	CPU_ERR2 -> FM_CPU0_ERR2_LVC3_N
	DEBUG_EN_N -> FM_JTAG_TCK_MUX_SEL_R
	PLTRST_N -> RST_PLTRST_BMC_N
	PRDY_N -> DBP_ASD_BMC_PRDY_R_N
	PWR_DEBUG_N ->
	XDP_PRST_N ->
	SYSPWROK ->
	RSMRST_N ->
	SIO_S3 -> FM_SLPS3_R_N
	SIO_S5 -> FM_SLPS4_R_N
	SIO_ONCONTROL -> FM_BMC_ONCTL_R_N
	SIO_POWER_GOOD -> PWRGD_CPU0_LVC3_R
	PS_PWROK -> PWRGD_BMC_PS_PWROK_R
	P3VBAT_BRIDGE_EN ->
	TCK_MUX_SEL ->
	NMI_BUTTON -> FP_NMI_BTN_N
#endif
&gpio0 {
	status = "okay";
	gpio-line-names =
	/*A0-A7*/	"","","","","SMB_CPU_PIROM_SCL","SMB_CPU_PIROM_SDA","SMB_IPMB_STBY_LVC3_SCL","SMB_IPMB_STBY_LVC3_SDA",
	/*B0-B7*/	"","","","FM_CPU1_ERR2_LVT3_N","RGMII_BMC_RMM4_LVC3_R_MDC","RGMII_BMC_RMM4_LVC3_R_MDIO","FM_BMC_BMCINIT_R","FP_ID_LED_N",
	/*C0-C7*/	"FM_FORCE_BMC_UPDATE_N","RST_RGMII_PHYRST_N","FM_TPM_EN_PULSE","","","","FM_CPU1_ERR0_LVT3_N","FM_CPU1_ERR1_LVT3_N",
	/*D0-D7*/	"CPU_ERR0","CPU_ERR1","CPU_ERR2","PRDY_N","FM_SPD_SWITCH_CTRL_N","","","",
	/*E0-E7*/	"FM_SKT1_FAULT_LED","FM_SKT0_FAULT_LED","CLK_50M_CKMNG_BMCB","ID_BUTTON","","","","",
	/*F0-F7*/	"","FM_DUAL_PARTITION_MODE_N","FM_STANDALONE_MODE_N","FM_4S_8S_N_MODE","FM_NODE_ID0","FM_NODE_ID1","","",
	/*G0-G7*/	"FM_SMB_BMC_NVME_LVC3_ALERT_N","RST_BMC_HSBP_MUX_N","FP_LED_STATUS_GREEN_N","FP_LED_STATUS_AMBER_N","PS_PWROK","FM_PARTITION_SEL","FM_BMC_CPU_FBRK_OUT_R_N","DBP_PRESENT_IN_R2_N",
	/*H0-H7*/	"SGPIO_BMC_CLK_R","SGPIO_BMC_LD_R","SGPIO_BMC_DOUT_R","SGPIO_BMC_DIN","PLTRST_N","CPU_CATERR","","",
	/*I0-I7*/	"","JTAG_ASD_TDI_R","JTAG_ASD_TCK_R","JTAG_ASD_TMS_R","JTAG_ASD_TDO","FM_BMC_PWRBTN_OUT_R_N","FM_BMC_PWR_BTN_N","",
	/*J0-J7*/	"","","","","","","","",
	/*K0-K7*/	"","","","","","","","",
	/*L0-L7*/	"","","","","PREQ_N","TCK_MUX_SEL","","",
	/*M0-M7*/	"","","","","","","SPA_SOUT","SPA_SIN",
	/*N0-N7*/	"","","","","","","SPB_SOUT","SPB_SIN",
	/*O0-O7*/	"","","","","","","NMI_BUTTON","SPEAKER_BMC_R",
	/*P0-P7*/	"RESET_BUTTON","RESET_OUT","POWER_BUTTON","POWER_OUT","","","","LED_BMC_HB_LED_N",
	/*Q0-Q7*/	"","","","","","","","",
	/*R0-R7*/	"","","","","","","","",
	/*S0-S7*/	"RST_BMC_PCIE_MUX_N","FM_BMC_TRUST_N","FM_BMC_FRU_WP_N","","PWRGD_CPU0_AUXPWRGD","A_P3V_BAT_SCALED_EN","REMOTE_DEBUG_ENABLE","",
	/*T0-T7*/	"","","","","","","","",
	/*U0-U7*/	"","","","","","","","",
	/*V0-V7*/	"SIO_S3","SIO_S5","","SIO_ONCONTROL","SIO_POWER_GOOD","","","",
	/*W0-W7*/	"LPC_LAD0_ESPI_R_IO0","LPC_LAD1_ESPI_R_IO1","LPC_LAD2_ESPI_R_IO2","LPC_LAD3_ESPI_R_IO3","CLK_24M_66M_LPC0_ESPI_BMC","LPC_LFRAME_N_ESPI_CS0_BMC_N","IRQ_LPC_SERIRQ_ESPI_ALERT_N","RST_LPC_LRST_ESPI_RST_BMC_R_N",
	/*X0-X7*/	"","","PCH_BMC_THERMTRIP","","","","","",
	/*Y0-Y7*/	"FM_BMC_CMOS_CLR_R_N","","FM_BMC_SAFS_EN","IRQ_SML1_PMBUS_BMC_ALERT_N","SPI_BMC_BOOT_R_IO2","SPI_BMC_BOOT_R_IO3","PU_SPI_BMC_BOOT_ABR","PU_SPI_BMC_BOOT_WP_N",
	/*Z0-Z7*/	"","","","HW_STRAP_5","HW_STRAP_6","HW_STRAP_7","HW_STRAP_2","HW_STRAP_3";

};

&gpio1 {
	status = "okay";
	gpio-line-names = /* GPIO18 A-E */
	/*A0-A7*/	"","","RST_EMMC_BMC_R_N","","","","","",
	/*B0-B7*/	"","","","","RGMII_BMC_RMM4_TX_R_CLK","RGMII_BMC_RMM4_TX_R_CTRL","RGMII_BMC_RMM4_R_TXD0","RGMII_BMC_RMM4_R_TXD1",
	/*C0-C7*/	"RGMII_BMC_RMM4_R_TXD2","RGMII_BMC_RMM4_R_TXD3","RGMII_BMC_RMM4_RX_CLK","RGMII_BMC_RMM4_RX_CTRL","RGMII_BMC_RMM4_RXD0","RGMII_BMC_RMM4_RXD1","RGMII_BMC_RMM4_RXD2","RGMII_BMC_RMM4_RXD3",
	/*D0-D7*/	"EMMC_BMC_R_CLK","EMMC_BMC_R_CMD","EMMC_BMC_R_DATA0","EMMC_BMC_R_DATA1","EMMC_BMC_R_DATA2","EMMC_BMC_R_DATA3","EMMC_BMC_CD_N","EMMC_BMC_WP_N",
	/*E0-E3*/	"EMMC_BMC_R_DATA4","EMMC_BMC_R_DATA5","EMMC_BMC_R_DATA6","EMMC_BMC_R_DATA7";
};

&sgpiom0 {
	ngpios = <128>;
	bus-frequency = <2000000>;
	status = "okay";
#if 0
 SGPIO Alias: (runtime alias -> net name)
	CPU1_PRESENCE -> FM_CPU0_SKTOCC_LVT3_N
	CPU1_THERMTRIP -> H_CPU0_THERMTRIP_LVC1_N
	CPU1_VRHOT -> IRQ_CPU0_VRHOT_N
	CPU1_MEM_VRHOT -> IRQ_CPU0_MEM_VRHOT_N
	CPU1_MEM_THERM_EVENT -> H_CPU0_MEMHOT_OUT_LVC1_N
	CPU1_MISMATCH -> FM_CPU0_MISMATCH
	CPU2_PRESENCE -> FM_CPU1_SKTOCC_LVT3_N
	CPU2_THERMTRIP -> H_CPU1_THERMTRIP_LVC1_N
	CPU2_VRHOT -> IRQ_CPU1_VRHOT_N
	CPU2_MEM_VRHOT -> IRQ_CPU1_MEM_VRHOT_N
	CPU2_MEM_THERM_EVENT -> H_CPU1_MEMHOT_OUT_LVC1_N
	CPU2_MISMATCH -> FM_CPU1_MISMATCH
#endif
	/* SGPIO lines. even: input, odd: output */
	gpio-line-names =
	/*A, 0-7*/	"CPU1_PRESENCE","","CPU1_THERMTRIP","","CPU1_VRHOT","","H_CPU0_MON_FAIL_LVC1_N","","CPU1_MEM_VRHOT","","CPU1_MEM_THERM_EVENT","","FM_CPU0_PROC_ID0","","FM_CPU0_PROC_ID1","",
	/*B, 8-15*/	"CPU1_MISMATCH","LED_CPU1_CH1_DIMM1_FAULT","","LED_CPU1_CH1_DIMM2_FAULT","CPU2_PRESENCE","LED_CPU1_CH2_DIMM1_FAULT","CPU2_THERMTRIP","LED_CPU1_CH2_DIMM2_FAULT","CPU2_VRHOT","LED_CPU1_CH3_DIMM1_FAULT","H_CPU1_MON_FAIL_LVC1_N","LED_CPU1_CH3_DIMM2_FAULT","CPU2_MEM_VRHOT","LED_CPU1_CH4_DIMM1_FAULT","CPU2_MEM_THERM_EVENT","LED_CPU1_CH4_DIMM2_FAULT",
	/*C, 16-23*/	"FM_CPU1_PROC_ID0","LED_CPU1_CH5_DIMM1_FAULT","FM_CPU1_PROC_ID1","LED_CPU1_CH5_DIMM2_FAULT","CPU2_MISMATCH","LED_CPU1_CH6_DIMM1_FAULT","","LED_CPU1_CH6_DIMM2_FAULT","","LED_FAN1_FAULT","","LED_FAN2_FAULT","","LED_FAN3_FAULT","","LED_FAN4_FAULT",
	/*D, 24-31*/	"","LED_FAN5_FAULT","","LED_FAN6_FAULT","","LED_FAN7_FAULT","","LED_FAN8_FAULT","","LED_CPU2_CH1_DIMM1_FAULT","","LED_CPU2_CH1_DIMM2_FAULT","","LED_CPU2_CH2_DIMM1_FAULT","","LED_CPU2_CH2_DIMM2_FAULT",
	/*E, 32-39*/	"","LED_CPU2_CH3_DIMM1_FAULT","","LED_CPU2_CH3_DIMM2_FAULT","","LED_CPU2_CH4_DIMM1_FAULT","","LED_CPU2_CH4_DIMM2_FAULT","","LED_CPU2_CH5_DIMM1_FAULT","","LED_CPU2_CH5_DIMM2_FAULT","","LED_CPU2_CH6_DIMM1_FAULT","CPU1_CPLD_CRC_ERROR","LED_CPU2_CH6_DIMM2_FAULT",
	/*F, 40-47*/	"CPU2_CPLD_CRC_ERROR","","CPU1_CATERR_IERR","","CPU1_CATERR_MCERR","","CPU2_CATERR_IERR","","CPU2_CATERR_MCERR","","","","","","","",
	/*G, 48-55*/	"MAIN_PLD_MINOR_REV_BIT0","","MAIN_PLD_MINOR_REV_BIT1","","MAIN_PLD_MINOR_REV_BIT2","","MAIN_PLD_MINOR_REV_BIT3","","MAIN_PLD_MAJOR_REV_BIT0","","MAIN_PLD_MAJOR_REV_BIT1","","MAIN_PLD_MAJOR_REV_BIT2","","MAIN_PLD_MAJOR_REV_BIT3","",
	/*H, 56-63*/	"","","WMEMX_PWR_FLT","","WCPUX_MEM_PWR_FLT","","PWRGD_P3V3_FF","","WPSU_PWR_FLT","","","","","","WPCH_PWR_FLT","",
	/*I, 64-71*/	"FM_CPU0_PKGID0","LED_CPU1_CH7_DIMM1_FAULT","FM_CPU0_PKGID1","LED_CPU1_CH7_DIMM2_FAULT","FM_CPU0_PKGID2","LED_CPU1_CH8_DIMM1_FAULT","H_CPU0_MEMTRIP_LVC1_N","LED_CPU1_CH8_DIMM2_FAULT","FM_CPU1_PKGID0","LED_CPU2_CH7_DIMM1_FAULT","FM_CPU1_PKGID1","LED_CPU2_CH7_DIMM2_FAULT","FM_CPU1_PKGID2","LED_CPU2_CH8_DIMM1_FAULT","H_CPU1_MEMTRIP_LVC1_N","LED_CPU2_CH8_DIMM2_FAULT",
	/*J, 72-79*/	"","","","","","","","","","","","","","","","",
	/*K, 80-87*/	"FM_BOARD_REV_ID0","LED_CPU0_CH9_DIMM1_FAULT","FM_BOARD_REV_ID1","LED_CPU0_CH9_DIMM2_FAULT","FM_BOARD_REV_ID2","LED_CPU0_CH10_DIMM1_FAULT","FM_BOARD_SKU_ID0","LED_CPU0_CH10_DIMM2_FAULT","FM_BOARD_SKU_ID1","LED_CPU0_CH11_DIMM1_FAULT","FM_BOARD_SKU_ID2","LED_CPU0_CH11_DIMM2_FAULT","FM_BOARD_SKU_ID3","LED_CPU0_CH12_DIMM1_FAULT","FM_BOARD_SKU_ID4","LED_CPU0_CH12_DIMM2_FAULT",
	/*L, 88-95*/	"FM_BOARD_SKU_ID5","LED_CPU1_CH9_DIMM1_FAULT","FM_BMC_VAL_EN","LED_CPU1_CH9_DIMM2_FAULT","FM_SERIAL_BOOT","LED_CPU1_CH10_DIMM1_FAULT","","LED_CPU1_CH10_DIMM2_FAULT","S0_PWROK","LED_CPU1_CH11_DIMM1_FAULT","","LED_CPU1_CH11_DIMM2_FAULT","","LED_CPU1_CH12_DIMM1_FAULT","","LED_CPU1_CH12_DIMM1_FAULT",
	/*M, 96-103*/	"","FM_SURPRISE_RESET_N","","FM_CPU1_INTR_CLK_CONFDONE_N","","FM_GLOBAL_RESET_N","FM_1200VA_OC","BMC_BOOT_DONE","","IRQ_BMC_CPU_NMI_P0","","IRQ_BMC_CPU_NMI_P1","","","","",
	/*N, 104-111*/	"","","","","","","","","","","","","","","","",
	/*O, 112-119*/	"R1S_PRESENCE","","","","","","","","","","","","","","","",
	/*P, 120-127*/	"","","","","","","","","","","","","","","","";
};

&kcs3 {
	aspeed,lpc-io-reg = <0xCA2>;
	status = "okay";
};

&kcs4 {
	aspeed,lpc-io-reg = <0xCA4>;
	status = "okay";
};

&sio_regs {
	status = "okay";
	sio_status {
		offset = <0x10C>;
		bit-mask = <0x1F>;
		bit-shift = <4>;
	};
	sio29_status {
		offset = <0x170>;
		bit-mask = <0xFF>;
		bit-shift = <8>;
	};
};

&lpc_sio {
	status = "okay";
};

&lpc_snoop {
	snoop-ports = <0x80>;
	status = "okay";
};

&mbox {
	status = "okay";
};

&mdio1 {
	status = "okay";

	ethphy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default>;
	clocks = <&syscon ASPEED_CLK_GATE_MAC2CLK>,
		 <&syscon ASPEED_CLK_MAC2RCLK>;
	clock-names = "MACCLK", "RCLK";
	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;
};

&mac3 {
	status = "okay";
	use-ncsi;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii4_default>;
	clocks = <&syscon ASPEED_CLK_GATE_MAC4CLK>,
		 <&syscon ASPEED_CLK_MAC4RCLK>;
	clock-names = "MACCLK", "RCLK";
};

&uart1 {
	/* Only host uses this via SUART but must be enabled in BMC devicetree
	 * to prevent clock gating.
	 */
	status = "okay";
};

&uart3 {
	status = "okay";
	/* We don't use IO3 - this is routed to UART1 */
	pinctrl-0 = <>;
};

&uart4 {
	status = "okay";
	/* We don't use IO4 - this is routed to IO1 */
	pinctrl-0 = <>;
};

&uart5 {
	status = "okay";
};

&uart_routing {
	status = "okay";
};

&emmc_controller{
	status = "okay";
};

&emmc {
	non-removable;
	bus-width = <4>;
	max-frequency = <52000000>;
};

&i2c4 {
	/* SMB_HSBP_STBY_LVC3_R */
	multi-master;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
};

&i2c5 {
	/* SMB_PMBUS2_STBY_LVC3 */
	multi-master;
	aspeed,hw-timeout-ms = <300>;
	#retries = <3>;
	status = "okay";
};

&i2c6 {
	/* SMB_TEMPSENSOR_STBY_LVC3_R */
	multi-master;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
};

&i2c7 {
	/* SMB_PMBUS_SML1_STBY_LVC3_R */
	multi-master;
	#retries = <3>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
};

&i2c8 {
	/* SMB_HOST_STBY_BMC */
	multi-master;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
};

&i2c9 {
	/* SMB_PCIE_STBY_LVC3 */
	multi-master;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
};

&i2c10 {
	/* SMB_BMC_SCM_LVC3 */
	status = "okay";
};

&i2c11 {
	/* SMB_CHASSIS_SENSOR_STBY_LVC3 */
	status = "okay";
};

&i2c12 {
	/* SMB_CPU_PIROM */
	multi-master;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";

	rtc@6f {
		compatible = "nxp,pcf85053";
		reg = <0x6f>;
	};
};

&i2c13 {
	/* SMB_IPMB_STBY_LVC3_R */
	multi-master;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
};

&i2c15 {
	/* SMB_CPLD_UPDATE_BMC_LVC3 */
	status = "okay";
};

&i3cglobal {
	status = "okay";
};

&i3c1 {
	/* I3C_PFR_BMC */
	status = "okay";
	initial-role = "target";
	target-read-timeout = <100>;
	dcr = <0xCC>;
	pid = <0x020a 0x0000000b>;
};

&i3c2 {
	/* I3C_MNG_LVC18 */
	status = "okay";
	is-mng;
	i3c-scl-hz = <6670000>;
	i3c-pp-scl-high-ns = <60>;
	i2c-scl-hz = <400000>;
	i3c-od-scl-high-ns = <1000>;
	sda-tx-hold-ns = <40>;
};

&i3c3 {
	/* I3C_SPD_BMC */
	status = "okay";
	i3c-scl-hz = <8330000>;
	i3c-pp-scl-high-ns = <50>;
	i2c-scl-hz = <1000000>;
	i3c-od-scl-high-ns = <400>;
	sda-tx-hold-ns = <30>;
	jdec-spd;
};

&i3c4 {
	/* I3C_DEBUG_STBY_LVC18 */
	status = "disabled";
	i3c-scl-hz = <3000000>;
};

&i3c5 {
	/* I3C_PCIE_BMC_LVC18 */
	status = "disabled";
	i3c-scl-hz = <1000000>;
};

&pcieh {
	status = "okay";
};

&pwm {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm7_default>;
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&vhub {
	status = "okay";
};

&jtag1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&chassis {
	status = "okay";
};
