// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "aspeed-bmc-intel-bhs.dtsi"
#include "aspeed-bmc-intel-bncm.dtsi"

/ {
	model = "Intel Beechnut City Modular BMC";
	compatible = "intel,bncm-bmc", "aspeed,ast2600";
	aliases {
		i2c16 = &i2c9_mux_ch7;
		i2c18 = &i2c9_mux0_ch0;
		i2c19 = &i2c9_mux0_ch1;
		i2c20 = &i2c9_mux0_ch2;
		i2c21 = &i2c9_mux0_ch3;
	};
};

&i2c9 {
	/*
	 * W/A: add SMBUS MUX via device tree instead of entity-manager
	 * to assign fixed numbers for buses behind MUX which can be referred
	 * later in platform configuration
	 */
	pca9848@70 {
		compatible = "nxp,pca9848";
		reg = <0x70>;
		i2c-mux-idle-disconnect;
		i2c9_mux_ch7: i2c@7 {
			reg = <7>;
		};

	};

	pca9846@59 {
		compatible = "nxp,pca9846";
		reg = <0x59>;
		i2c-mux-idle-disconnect;
		i2c9_mux0_ch0: i2c@0 {
			reg = <0>;
		};
		i2c9_mux0_ch1: i2c@1 {
			reg = <1>;
		};
		i2c9_mux0_ch2: i2c@2 {
			reg = <2>;
		};
		i2c9_mux0_ch3: i2c@3 {
			reg = <3>;
		};
	};
};

&i3c2 {
	/* I3C_MNG_LVC18 */
	i3c-scl-hz = <4550000>;
	i3c-pp-scl-high-ns = <50>;
	sda-tx-hold-ns = <50>;

	/* HUB on Legacy Board */
	hub0@0,0 {
		cp0-ldo = "disabled";
		cp1-ldo = "disabled";
		tp0145-ldo = "disabled";
		tp2367-ldo = "disabled";
		tp0145-pullup = "2k";
		tp2367-pullup = "2k";
		cp0-io-strength = "50Ohms";
		cp1-io-strength = "50Ohms";
		tp0145-io-strength = "50Ohms";
		tp2367-io-strength = "50Ohms";
		id = <0>;

		target-port@0 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@1 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@2 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@3 {
			mode = "disabled";
			pullup = "enabled";
		};
		target-port@4 {
			mode = "disabled";
			pullup = "enabled";
		};
		target-port@5 {
			mode = "disabled";
			pullup = "enabled";
		};
		target-port@6 {
			mode = "disabled";
			pullup = "enabled";
		};
		target-port@7 {
			mode = "disabled";
			pullup = "enabled";
		};
	};

	/* HUB on non-Legacy Board */
	hub2@0,0 {
		cp0-ldo = "disabled";
		cp1-ldo = "disabled";
		tp0145-ldo = "disabled";
		tp2367-ldo = "disabled";
		tp0145-pullup = "2k";
		tp2367-pullup = "2k";
		cp0-io-strength = "50Ohms";
		cp1-io-strength = "50Ohms";
		tp0145-io-strength = "50Ohms";
		tp2367-io-strength = "50Ohms";
		id = <3>;

		target-port@0 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@1 {
			mode = "disabled";
			pullup = "enabled";
		};
		target-port@2 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@3 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@4 {
			mode = "disabled";
			pullup = "enabled";
		};
		target-port@5 {
			mode = "disabled";
			pullup = "enabled";
		};
		target-port@6 {
			mode = "disabled";
			pullup = "enabled";
		};
		target-port@7 {
			mode = "disabled";
			pullup = "enabled";
		};
	};
};
